<!DOCTYPE html>
<html>
<head>
	<title>MIST COMPUTER CLUB!</title>
    <link rel="icon" href="https://firebasestorage.googleapis.com/v0/b/workingwithimage.appspot.com/o/601919_159513467548765_1342735952_n.png?alt=media&token=c7a3ea13-f945-48e2-ad16-4d72fa109331">
    

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600" rel="stylesheet" type="text/css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>

    <link rel="stylesheet" type="text/css" href="/css/showform.css">
    <script type="text/javascript" src="/script/showform.js"></script>
    <script type="text/javascript" src="/script/jquery.toast.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/jquery.toast.css">
</head>
<body>
	<page size="A4">
		<div class="border">
			<div class="logo" onclick="window.print()">
				<img src="https://firebasestorage.googleapis.com/v0/b/workingwithimage.appspot.com/o/Logoreplica3.png?alt=media&token=2063eb06-d194-42b3-813e-718a664a3588" alt="MIST COMPUTER CLUB">
				<img src="https://upload.wikimedia.org/wikipedia/commons/2/2f/MIST_Logo.png" style="float: right;width: 100px; margin-right:  5%;padding-top: 0%">
				<button onclick="p()" id="print"> <i class="fa fa-print">Print</i></button>

			</div>
		</div>
		<div class="header">
			<h1 style="text-align: center;font-size: 3em"> MEMBERSHIP FORM </h1>
		</div>
		<div class="form-body">
			<p> Member ID &nbsp; : <span style="opacity: 0.5" id="com"> (will be filled up by club committee) </span> </p>
			<p> Name  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; : &nbsp; <span id="name"></span> </p>
			<p> Student ID &nbsp; &nbsp;:  &nbsp; <span id="roll"></span></p>
			<p> Department &nbsp;: &nbsp; <span id="dept"></span></p>
			<p> Level &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;: &nbsp; <span id="level"></span></p>
			<p> Gender &nbsp; &nbsp; &nbsp; &nbsp; : &nbsp; <span id="gender"></span></p>
			<p> Email &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; : &nbsp; <span id="email"></span> </p>
			<p> Contact No &nbsp;: &nbsp; <span id="phoneno"></span></p>
		</div>
		<div class="sign">
			<hr style="margin-top: 2%;width: 35%;margin-left: 5%">
			<hr style="margin-top: 2%;width: 15%;margin-left: 73%">
			<p style="margin-left: 8%;">Signature of the member</p>
			<p style="margin-left: 75%"> President </p>
		</div>

	</page>
</body>
</html>
