<!DOCTYPE html>
<html>
<head>
	<title>MIST COMPUTER CLUB!</title>
    <link rel="icon" href="https://firebasestorage.googleapis.com/v0/b/workingwithimage.appspot.com/o/601919_159513467548765_1342735952_n.png?alt=media&token=c7a3ea13-f945-48e2-ad16-4d72fa109331">
    

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600" rel="stylesheet" type="text/css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>

    <link rel="stylesheet" type="text/css" href="/css/table.css">
    <script type="text/javascript" src="/script/table.js"></script>
    <script type="text/javascript" src="/script/jquery.toast.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/jquery.toast.css">

</head>
<body>
	<table id="table">
		<tr>
			<th class="center"> S/no </th>
    		<th>Name</th>
    		<th class="center" >Student ID</th> 
    		<th class="center" >Department</th>
    		<th class="center">Level </th>
  			<th>Email </th>
  			<th>Phone No</th> 
  			<th>Gender</th>
  		</tr>

	</table>
	<img id="load" src="loading.gif" alt="loading" style="margin-left: 35%;margin-top: 10%">

</body>
</html>